<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="static/cats.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='cats.css')}}">
    <title>Adopt a cat</title>
</head>
<body>
    <header class="header"> 
       <div class="over-lay"></div>

    <nav class="nav-links"> 
        <ul> 
            <li> <a href="/cats" >Adopt a cat</a> </li>
            <li> <a href="/dogs" >Adopt a dog</a> </li>
            <li> <a href="/adoption"> Put your pet up for adoption </a> </li>  
            <li> <a href="/shop"> Shop </a></li>
            <li> <a href="/log-out" class="log-out"> Log out</a></li>
        </ul>
       </nav>
    </header>
       <form action="/search" method="post" >
        <input type="search" placeholder="search cat by breed, gender, etc" name="cat" class="cat-search"> 
       </form>

<div class="parent" reversed> 

    {% for cat in cats_data %}
    <div class="animal"> 
    <img src={{cat["image"]}}  class="animal-img" width="200px" height="214px">
    <p> {{cat["name"]}}</p>
    <p> {{cat["age"]}}</p>
    <p> {{cat["breed"]}}</p>
    <p> {{cat["vaccinated"]}}</p>
    <p> {{cat["gender"]}} </p>
    <a href="/shelter" class="button-link">
        <button class="contact-owner button"> Adopt </button>
    </a>
    <a href="{{ url_for('delete', name=cat['name']) }}" class="button-link">
        <button class="delete button" name="{{cat["name"]}}"> Adopted </button>
    </a>
</div>
     <!-- <div class="imge">
        
     </div> -->

 
    {% endfor %}
</div>

<script src="static/cats.js">
</script>
</body>
</html>