<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/shelter.css">
    <title>Contact owner</title>
</head>
<body>
    <nav class="nav-links"> 
        <ul> 
            <li> <a href="/cats" >adopt a cat</a> </li>
            <li> <a href="/dogs" >adopt a dog</a> </li>
            <li> <a href="/adoption"> put your pet up for adoption </a> </li>  
            <li> <a href="/log-out" class="log-out"> Log out</a></li>
        </ul>
    </nav>
    <hr> 
    <form class="Shelter-Contact"> 
    <p> Please Enter your name </p>
    <input type="text" class="name input" required> 
    <br> 
    <p> Enter your phone number: </p>
    <input type="text" class="phone input" required> 
    <br>
    <br>
    <input type="submit" value="submit" class="submit-btn button"> 
    </form>
    
    <div>
        <p class="msg"> </p>
    </div>
    <script src="static/shelter.js"></script>
</body>
</html>