<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Sign up </title>
</head>
<body>
  <div class="over-lay"></div>
  <div class="entro"> 
    <div class="bg-color"></div>
    <form method="post" action="/sign-up" class="formLogin"> 
        <p>Please choose a user name </p>
        <input type="text" name="user_name" id="userName" required>
        <p>Please enter a password </p>
        <input type="password" name="password" id="passWord" required>
        <p>Please re-enter your password password </p>
        <input type="password" name="password-two" id="passWord" required>
        <br>
        <input type="submit" value="sign up" class="sign-up button">
    </form>
</div>
  <div class="info" > 
    <h3> {{info}}</h3>
  </div>
</body>
</html>