* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: wheat;
}

.nav-links ul{
    list-style-type: none;
    background-color: peru;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}
.nav-links a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.nav-links a:hover{
    background-color: rgb(120, 71, 23);
    font-weight:600;  
}

.listproducts {
    display: grid;
    justify-content:center; 
    grid-template-columns: auto auto auto auto;
    gap: 15px; 
    align-items:center;
    margin-top: 60px
}

.item {
    width: 250px;
    height: 350px;
    text-align:center;border-radius: 10% ;
    box-shadow: 2px 5px 14px 3px beige;
}

.imge {
    border-radius: 10%
}

.animal-img {
    width: 150px;
    height:100px;
    border-radius: inherit;
}

.button {
    border: none;
     margin: 10px;
     padding: 10px;
     border-radius: 10px;
     background-color: peru;
     cursor: pointer;
     font-weight: 500;
}

.buying {
    display: none;  
    margin: auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px
}

form input {
  border: 1px solid peru;
}
.display-info {
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.buying input {
    border-radius: 15px;
}




