<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/dogs.css">
    <title>adopt a dog </title>
</head>
<body>
    <header class="header">
        <div class="nav-background"></div> 
        <div class="over-lay"></div>
    <nav class="nav-links"> 
        <ul> 
            <li> <a href="/cats" >adopt a cat</a> </li>
            <li> <a href="/dogs" >adopt a dog</a> </li>
            <li> <a href="/adoption"> put your pet up for adoption </a> </li>  
            <li> <a href="/shop"> Shop </a></li>
            <li> <a href="/log-out" class="log-out"> Log out</a></li>
        </ul>
       </nav>
    </header>

       <form action="/search-dogs" method="post">
        <input type="search" placeholder="search dogs by breed, gender, etc" name="dog" class="dog-search"> 
       </form>

    <div class="parent" reversed>

    {% for dog in dog_data %}
    <div class="animal"> 
    <img src={{dog["image"]}} class="animal-img" width="200px" height="214px">
    <p> {{dog["name"]}}</p>
    <p> {{dog["age"]}}</p>
    <p> {{dog["breed"]}}</p>
    <p> {{dog["vaccinated"]}}</p>
    <p> {{dog["gender"]}} </p>
    <a href="/shelter" class="button-link">
        <button class="contact-owner button"> Adopt </button>
    </a>
    <a href="{{ url_for('deletedog', name=dog['name']) }}" class="button-link">
        <button class="delete button" name="{{dog["name"]}}"> Adopted </button>
    </a>
    </div>
     <!-- <div class="imge">
        <img src={{dog["image"]}} class="animal-img">
     </div> -->

    {% endfor %}
    </div>
    <script src="static/dogs.js"></script>
</body>
</html>