<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Home page</title>
</head>

<body>
 <div class="entro"> 
    <form method="post" action="/form_login" class="formLogin">
        <p>Please enter your name </p>
        <input type="text" name="user_name" id="userName">
        <p>Please enter your password </p>
        <input type="password" name="password" id="passWord">
        <br>
        <input type="submit" value="Log in" class="log-in button">
        <br>
        <a href="/signup" class="link"> Don't have an account? click here to sign up </a>    
    </form>
 </div>
 <div class="info"> 
    <h3> {{info}}</h3>
    
 </div>
  <script src="static/script.js"> </script>
</body>
</html>