<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/welcome.css">
    <title>welcome {{name}} </title>
</head>
<body>
        <nav class="nav-links"> 
         <ul> 
             <li> <a href="/cats" >adopt a cat</a> </li>
             <li> <a href="/dogs" >adopt a dog</a> </li>
             <li> <a href="/adoption"> put your pet up for adoption </a> </li>  
             <li> <a href="/shop"> Shop </a></li>
             <li> <a href="/" class="log-out"> Log out</a></li>
         </ul>
        </nav>
        <div class="us-name">
           <h1 class="display-user-name"> Hello {{name}} </h1>
        </div>
        <script src="static/welcome.js"></script>
</body>
</html>